@import "./styles/colors.less";

a {
  transition: opacity 0.2s ease-in-out;

  &:hover {
    opacity: 0.7;
  }
}

.container {
  padding: 10px 20px;
  max-width: 1040px;
}

.thumbnail {
  background: transparent;
  border: none;
  color: @white;
}

.row-centered {
  text-align: center;
  margin: auto;
  max-width: 100%;
}

.col-centered {
  margin: 0 auto;
  float: none;
}

#title {
  margin: 0 auto;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("./images/back-progressive.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  padding-top: 40px;
  padding-bottom: 120px;

  & img {
    min-width: 65%;
    user-select: none;
    margin-bottom: 10px;

    &::selection {
      background-color: transparent;
      color: #000;
    }
    @media screen and (max-width: 600px) { min-width: 85%; }
    @media screen and (min-width: 1000px) { min-width: 700px; }
  }

  h4 {
    margin: 0 auto;
    max-width: 65%;
    line-height: 1.5em;
    font-weight: 400;
    text-align: justify;
    color: @white;

    @media screen and (max-width: 600px) { max-width: 85%; }

    @media screen and (min-width: 1000px) { max-width: 700px; }
  }
}

.bg-what {
  background-color: @white;
  width: 100%;
  padding-bottom: 130px;
  padding-top: 50px;
  line-height: 33px;
  text-align: center;

  & h4 {
    margin: 0 auto;
    vertical-align: middle;
    line-height: 1.2em;
    height: 100%;
    display: block;
    padding-bottom: 30px;
  }
}

.btn-demo {
  padding: 13px 26px;
  transition: 0.1s opacity linear;
  color: @white;
  border: 1px outset blue;
  background-color: @base01;
  border-color: @base01;
  border-width: 0;
  box-sizing: border-box;
  width: auto;
  height: 42px;
  // line-height: 34px;
  margin: auto;
  outline: none;
  border-radius: 0;

  &:hover {
    opacity: 0.9;
    color: @white;
  }
}

#NotFound {
  color: @base01;
}

.btn-black {
  background-color: @base01;
  color: #fff;
  font-size: 16px;
  border: none;
  outline: none;
  padding: 10px 20px;
}

.row {
  margin: auto 0 !important;
}

.what-desc {
  text-align: center;

  & h4 {
    text-align: left;
    text-indent: 0.4em;
  }
}

button.read-more {
  overflow: visible;
  color: @base03;
  border: none;
  background: none;
  text-align: left;
  word-spacing: normal;
}

.btn-empty {
  border: 1px solid @base04;
  box-sizing: border-box;
  background: none;
  margin: 10px;
  height: 38px;
  padding: 9px 15px;
  line-height: 18px;
  font-size: 14px;
  outline: none;
  border-radius: 0;

  &:hover {
    // opacity: 0.9;
    border: 1px solid @base03;
    color: @base01;
  }
}

.tabs {
  & a {
    display: inline-block;
    margin: 20px;
    color: @base04;

    &:hover {
      color: @base02;
      text-decoration: none;
      cursor: pointer;
    }

    &:active {
      text-decoration: none;
      color: @base03;
    }

    &:focus {
      border: none !important;
      outline: 0;
      text-decoration: none !important;
    }
  }
}

a.active {
  color: @base01;
}

.wrapper {
  min-height: 80vh;
}

.page {
  padding: 0;
  margin: 0 auto;
  text-align: center;
}

.page--title {
  padding: 32px;
  text-align: center;
  vertical-align: middle;
}

.page--segment {
  background-color: #fff;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.page--content {
  padding: 40px 32px;
  max-width: 1040px;
  margin: 0 auto;
  box-sizing: border-box;
  display: block;
  clear: both;
  text-align: center;

  @media screen and (max-width: 600px) {
    padding: 30px 10px;
  }

  // @media screen and (max-width: 600px) {
  //   flex-direction: column;
  // }

  &--narrow {
    max-width: 900px;
    margin: 0 auto;
  }
}

.bg-gray {
  background-color: @light-grey;
}

.slightly-gray-back {
  background-color: #f9fbff;
}

.text-center {
  text-align: center;
}

label {
  font-size: 13px;
  display: inline-block;
  margin-top: 11px;
  padding-bottom: 7px;
  line-height: 20px;
}

button.vk {
  background-color: #4a76a8;
  color: #fff;
}

button.red {
  // margin-left: 0;
  background-color: #d9534f;
  color: #fff;
}

button.main {
  color: #fff;
}

#team h2 {
  color: #fafafa;
}

.join-us {
  display: flex;
  flex-direction: row;
  justify-content: center;

  @media screen and (max-width: 600px) {
    flex-direction: column;
  }
  & input { height: 36px; }

  .subscribe {
    display: flex;
    flex-direction: row;
    margin: 0 10px;

    @media screen and (max-width: 400px) {
      flex-direction: column;
      align-items: center;
    }
  }
}

.locale--toggle {
  &:hover {
    box-shadow: inset 0 -1px @white !important;
    color: #82aaff !important;
    opacity: 0.7;
  }
}
