#appdesc {
  background-color: white;
  padding-top: 50px;
  padding-bottom: 50px;
  & h3,& p {
    line-height: 1.6em;
    font-weight: 400;
    color: black;
    text-align: justify;
    letter-spacing: .5px;
  }
  // &.row{width: 100%;}
}

.bg-appdesc {
  background-color: white;
  width: 100%;
  padding-bottom: 130px;
  padding-top: 130px;
  line-height: 33px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .col-sm-4 .person {
    text-align: center;
    margin: auto;
  }
}


.more{
  color: black;
  border: none !important;
  background: none;
  margin-top: 10px;
  height: 30px;
  // width: 150px;
  text-align: right;
  &:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  &:active {
    color:black;
    text-decoration: underline;
    color: gray;
  }
  &:focus {border:none !important; outline: 0; }
}

.person {
  //  max-height: 250px;
  //  max-width: 250px;
  //  padding-right: 20px;
  //  opacity: 0.95;
  border: 10px solid transparent;
  margin-bottom: 25px;
  width: 70%;
  height: 70%;
  opacity: 0.75;
}

