.appdesc {
  background-color: white;
  & h3,& p {
    line-height: 1.6em;
    font-weight: 400;
    color: black;
    text-align: justify;
    letter-spacing: .5px;
  } 
  &.row{width: 90%;}
}

.more{
  color: black;
  margin-top: 10px; 
  height: 30px;
  width: 150px;
  text-align: right;
  &:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  &:active {
    color:black;
    text-decoration: underline;
  }
}

.person {
    max-height: 250px;
    max-width: 250px;
    padding-right: 20px;
    opacity: 0.95;
}
