@font-face {
  font-family: commonText;
  src: url(../assets/Roboto-Light.ttf);
}

@font-face {
  font-family: titleText;
  src: url(../assets/Lora-Regular.ttf);
}

body {
  // color: #212121;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../images/back-progressive.jpg");
  background-color: transparent;
  background-repeat: no-repeat;
  // parallax thing
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: black;
  font-weight: 300;
  font-family: commonText, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 768px) {
  body {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../images/back-progressive.jpg");
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 25% 0%;
  }
}

h1 {
  font-size: 44px;
  font-family: titleText, sans-serif;
}

h2 {
  font-size: 30px;
  font-family: titleText, sans-serif;
}

h3 {
  font-size: 24px;
  line-height: 30px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  font-size: 14px;
}

hr {
  margin: 0;
  width: 100%;
}

.container {
  padding: 10px 20px;
  max-width: 1040px;
}

// .container-fluid {
//   padding-left: 0px !important;
//   padding-right: 0px !important;
// }

.thumbnail {
  background: transparent;
  border: none;
  color: #fff;
}

.row-centered {
  text-align: center;
  margin: auto;
  max-width: 100%;
}

.col-centered {
  margin: 0 auto;
  float: none;
}

// TITLE BEGIN
#title {
  color: #fff;
  background-color: transparent;
  font-size: 40px;
  padding-top: 10px;
  padding-bottom: 20px;

  & .btn {
    margin-top: 0;
  }
}

// Subscribe BEGIN
#Subscribe {
  margin-top: 40px;
  padding-bottom: 80px;
  z-index: 40;
}

.btn {
  margin: 15px;
}

.input-group {
  float: none;
  max-width: 300px;
  text-align: center;
  margin: 0 auto;
}
// Subscribe END

// footer BEGIN
footer {
  // width: 100%;
  // margin-bottom: 0px;
  // display: inline-block;
  padding-top: 5px;
  // padding-bottom: 0px;
  // margin-bottom: 0px;
  color: rgba(255, 255, 255, 0.9);
  background-color: #2f2f2f;
  // background-position: 50% 25%;
  // background-size: contain;
  align-items: center;
  line-height: 16px;
  font-size: 16px;

  & div {
    display: inline;

    & p {
      list-style: none;
      display: inline-block;
      padding-left: 20px;

      &.inline {
        display: inline;
      }
    }
  }

  & ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    float: right;
    display: inline-block;
  }

  & li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
  }

  & a {
    fill: #08c;
    text-decoration: none;
    color: inherit;

    &:hover {
      color: #fff;
      text-decoration: none;
    }

    &:active {
      text-decoration: underline;
    }
  }

  & .fa { color: #919191; }
}

// What BEGIN
.bg-what {
  background-color: white;
  width: 100%;
  padding-bottom: 130px;
  padding-top: 50px;
  line-height: 33px;
  text-align: center;

  & h4 {
    margin: 0 auto;
    vertical-align: middle;
    line-height: 1.2em;
    height: 100%;
    display: block;
    padding-bottom: 30px;
  }
}

.VideoGallery {
  // padding-top: 80px;
  // top: 40%;
  // transform: translate(0%, +50%);
  & .col-xs-4 {
    margin-top: 40px;
  }

  & video {
    width: 100%;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  & button {
    border: none;
    background: none;
    &:focus { outline: none !important; }
    &:hover { outline: 0 !important; }
    &:active { outline: 0 !important; }
  }
}

#ArticleSlider {
  & button {
    color: blue;
    background: grey;
    outline: none;
    &:focus { outline: none !important; }
    &:hover { outline: 0 !important; }
    &:active { outline: 0 !important; }
  }

  & video {
    color: blue;
    background: grey;
    outline: none;
    &:focus { outline: 0 !important; }
    &:hover { outline: 0 !important; }
    &:active { outline: 0 !important; }
  }

  &:hover {
    color: #222;
    text-decoration: none;
    cursor: pointer;
  }

  &:active {
    color: #222;
    text-decoration: underline;
  }

  &:focus {
    border: none !important;
    outline: 0;
  }
}

#NotFound {
  color: #fff;
}

.btn-black {
  background-color: #222;
  color: #fff;
  font-size: 16px;
  // outline: 2px solid black;
  border: none;
  outline: none;
  padding: 10px 20px;
}

.row {
  margin: auto 0 !important;
}
