.bg-4 { 
  background: #F9F9F9;
  width: 100%;
  text-align: center;
}

.timeline {
  &.thumbnail {color:red;border: none;}
  & img {
    padding: 10px 10px;
    height: 120px;
    width: 120px;
  }
}

.inactive{
  -webkit-filter: grayscale(1);
  -webkit-transition: .4s ease-out 0.4s;
  -moz-filter: grayscale(1) 0.4s;
  -moz-transition: .4s ease-out 0.4s;
  -o-filter: grayscale(1) 0.4s;
  -o-transition: .4s ease-in-out 0.4s;
  &:hover {filter: grayscale(0);}
}

.caption-fix {
  float:none;
  position: relative;
  clear:right;
  color:black;
}
.caption h5, .caption p{
  text-decoration: none;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  right: 0px;
  left:0;
  color: black;
}
.arrow {
  width: 95%;
  height: 20%;
}
.magic-arrow {
    background-repeat: no-repeat;
    background-size: cover;
    height: 10px;
    position: absolute;
    margin-top: 0px;
    width: 150%;
    color:red;
    size: 150%;
    margin-top: -350px;
    margin-left: 20%;
    z-index: 100;
}
@media (max-width: 700px) {
  .magic-arrow {
    display: none;
  } 
}

