@import "../../styles/colors.less";

#blog {
  color: @white;
  background-color: transparent;
  font-size: 40px;
  padding-top: 30px;
  padding-bottom: 70px;

  & .btn {
    margin-top: 0;
  }
}

#pageTitle {
  color: @base01;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

#ArticleGallery {
  background-color: #f9fbff;

  & h2 {
    padding-bottom: 2em;
    font-weight: 700px;
  }
}

.xlist {
  /*display: flex;*/
  display: block;
  justify-content: space-between;
  list-style: none;
  margin: 0;
}

.xlist--item {
  width: 100%;
  margin-bottom: 3.9rem;
  text-align: left;
  & h4 {
    height: 3em;
    text-align: center;
  }
  & p {
    line-height: 1.6em;
    text-align: left;
    &::first-line {
      // text-indent: 40px;
      // padding-left: 0.4em;
      text-indent: 1em;
    }
  }
    & .ArticleDate {
    color: @base03;
    font-size: 14;
    letter-spacing: 0.5px;
    text-align: left;
  }
  & button {
    text-align: right;
  }
}

@media screen and (min-width: 1000px) {
  .xlist {
    display: flex;
  }

  .xlist--item {
    width: 32%;
    margin-bottom: 0;
  }
}

.dim {
  color: @base06;
  // text-align: right;
  margin-bottom: 1.8em;
  font-size: 14;
  letter-spacing: 0.5px;
}

.ArticleContent {
  & p {
    text-align: left;
    margin-bottom: 1em;
    line-height: 1.6em;
  }
}

.article--item {
  text-align: right;

  & p {
    text-align: left;
  }
}

