@import "../../styles/colors.less";

nav {
  background-color: #002d3b;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  margin: 0;
  list-style-type: none;
  overflow: hidden;
  padding: 20px;

  & ul {
    padding: 0;
  }

  & a:focus { background-color: none !important; }

  & a {
    display: inline-block;
    cursor: pointer;
    color: #9d9d9d;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    transition: 0.3s;
    &:hover {
      background-color: none !important;
      opacity: 0.7;
      color: #9d9d9d;
    }

    &.active {
      color: #9d9d9d !important;
    }
  }

  & button {
    cursor: pointer;
    background: none;
    color: #9d9d9d;
    text-align: center;
    margin: 0;
    width: 63px;
    min-width: 0;
    height: 93px;
    padding: 20px;
    border: none;

    &:hover { background-color: none !important; }

    &:focus {
      background-color: none;
      border: none;
      // color:red;
      -moz-box-shadow: none !important;
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
      outline: 0;
    }

    &:active {
      color: black;
      background: #eee;
      text-decoration: underline;
    }
  }
}


nav {
  display: flex;
  justify-content: space-between;
}

.nav--item a{
  box-shadow: none;
  &:hover {
    color: inherit;

  }
}

.nav--list {
  list-style-type: none;
  display: block;
}

.nav--list.hidden li:not(:first-child) {
  display: none;
}

@media screen and (min-width: 600px) {
  .icon {
    display: none;
  }

  .nav--list.hidden li:not(:first-child),
    .nav--list.hidden li:first-child,
    .nav--list li {
    display: inline;
  }
  .nav--list li:nth-of-type(1n+3) {
    float: right;
  }

  .nav--list {
    width: 100%;
  }
}
