.errorPage {
  text-align: center;
  padding-bottom: 140px;
  @media screen and (max-width: 768px) {
    padding-bottom: 220px;
  }
  & .background {
    min-width: 360px;
    margin: 0 auto;
    & img {
      width: 400px;
      height: auto;
      text-align: center;
      margin: 0 auto;
      @media screen and (max-width: 768px) {
        width: 360px;
      }
    }
  }
}
